.header-container {
    height:1000px;
    position:relative;
    background-image: url('../../../images/chair-bg.png');
    background-size: cover;
  
}
.header-container::after{
    height:930px;
    content:' ';
    position: absolute;
    top: 0;
    width: 28%;
    right: 0;
    background-color: #3A4256;
    z-index: -1;
}
